body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

mat-form-field.text-form-field {
  width: 650px !important;
  height: auto !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field.text-form-field textarea {
  height: 200px;
  width: 100%;
  padding: 10px;
}

mat-form-field.titel-form-field {
  height: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.flex-container-input-felder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.flex-container-input-felder label {
  margin-bottom: 5px;
}

a {
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #673AB7;
  color: white;
  border-radius: 4px;
  margin: 10px;
}

a:hover {
  color: white;
  background-color: #42545C;
}

a:active {
  background-color: black;
}

.label-text, .label-titel {
  font-size: large;
}

.exportPdf-button:hover, .save-button:hover {
  color: white;
  background-color: #42545C;
}

.exportPdf-button:active, .save-button:active {
  background-color: black;
}

.save-button, .exportPdf-button {
  margin: 10px;
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor-menubar {
  display: flex;
  align-content: flex-start ;
  justify-content: space-between;
  border: 1px solid #673AB7;
  border-radius: 14px;
  background-color: #673AB7;
  margin-bottom: 10px;
}