.delete-account-button {
    background-color: #B90E0A !important;
    color: white !important;
}

.delete-account-container {
    width: 32%;
    margin: 0 auto 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 10px;
}

.form-container mat-form-field {
    width: 100%;
}

label {
    margin-bottom: 5px;
}

mat-icon {
    color: black;
}