version: '3.8'
services:

  mysql-server:
    image: mysql:latest
    container_name: mysql-server
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: True
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mysql_database
      MYSQL_USER: sa
      MYSQL_PASSWORD: password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10 
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    env_file:
      - .env  

  angular-frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "80:80"

  micronaut-backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "8080:8080"
    depends_on:
      mysql-server:
        condition: service_healthy
    env_file:
      - .env 

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin   
    environment:
      PMA_HOST: mysql-server
      PMA_PORT: 3306
      PMA_ARBITRARY: 1  
      MYSQL_ROOT_PASSWORD: password
    restart: always  
    ports:
      - "8081:80"
    depends_on:
      - mysql-server
    volumes:
      - pma-data:/var/lib/phpmyadmin/data   
    env_file:
      - .env  

volumes:
  mysql-data:
  pma-data:
