<div><h1>{{ title }}</h1></div>
<body>
    <nav>
      <a routerLink="/edit">neuer Eintrag erfassen</a>
      <a routerLink="/main">zu den Einträgen</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/registration">Registrieren</a>
    </nav>
  <router-outlet></router-outlet>
  <footer>

    <a href="https://www.css.ch/de/privatkunden.html" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Css-versicherung-logo.svg/2560px-Css-versicherung-logo.svg.png" alt="CSS Versicherungs Logo Bild" class="logo">
    </a>
  </footer>
</body>
