body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

div {
  background-color: #673AB7;
  border-radius: 30px;
  padding: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #673AB7;
  color: white;
  border-radius: 10px;
  margin: 10px 10px 20px;
}

nav a:hover {
  color: black;
  background-color: lightgray;
}
nav a:active {
  background-color: lightgray;
}

.logo {
  height: 3rem;
  width: auto;
}
