.changePassword-container {
    width: 32%;
    margin: 0 auto 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 10px;
}

.form-container mat-form-field {
    width: 100%;
}

.go-back-button {
    margin: 10px;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #403BB8 !important;
}

.go-back-button:hover {
    color: white;
    background-color: #42545C;
}

.go-back-button:active {
    background-color: black;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

label {
    margin-bottom: 5px;
}

button {
    padding: 10px;
    background-color: #403BB8 !important;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
    color: black;
}

mat-icon {
    color: black;
}