<div class="changePassword-container">
    <h2>Passwort ändern</h2>
    <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="changeToNewPassword()">
            <div class="input-container">
                <mat-form-field>
                    <mat-label>aktuelles Passwort</mat-label>
                    <input matInput formControlName="actualPassword">
                </mat-form-field>
            </div>

            <div class="input-container">
                <mat-form-field>
                    <mat-label>neues Passwort</mat-label>
                    <input matInput formControlName="newPassword">
                </mat-form-field>
            </div>

            <div class="input-container">
                <mat-form-field>
                    <mat-label>neues Passwort bestätigen</mat-label>
                    <input matInput formControlName="confirmNewPassword">
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" type="submit">Änderung bestätigen</button>
        </form>
    </div>
</div>