<div class="outer-container">
    <div class="inner-container">
        <div class="white-field">
            <p class="info-text">E-Mail Adresse: <span class="user-email">{{ userEmail }}</span></p>
            <p class="info-text">Anzahl Einträge: <span class="anzahl-eintraege">{{ anzahlEintraege }}</span></p>
            <a routerLink="/changePassword" class="action-link change-password">Passwort ändern</a>
            <a routerLink="/deleteAccount" class="action-link delete-account">Account löschen</a>
        </div>
    </div>
</div>