body {
    font-size: 16px;
}

.passwort-aeandern-link, .account-loeschen-link {
    padding: 1.2rem;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    background-color: #403BB8;
    color: white;
    border-radius: 10px;
    margin: 20px 40px;
}

.user-email {
    font-weight: bold;
    font-size: 1.2rem;
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #403BB8;
    padding: 2rem;
    border-radius: 20px;
}

.white-field {
    background-color: white;
    padding: 2rem 6rem;
    border-radius: 20px;
}

.white-field p {
    font-size: 1.2rem;
    color: black;
    text-align: left;
}