<div class="registration-container">
  <h2>Registrierung</h2>
  <div class="form-container">
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field>
          <mat-label>Passwort:</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Registrieren</button>
    </form>
  </div>
  <div class="messages">
    <p *ngIf="showErrorMessage" class="error-message">Email oder Passwort ist leer</p>
    <p *ngIf="isSuccess" class="success-message">Du wurdest erfolgreich registriert</p>
    <p *ngIf="registrationForm.controls['email'].hasError('emailUsed')" class="error-message-emailalreadyused">Diese Email wurde schon gebraucht</p>
  </div>
</div>
