<div class="registration-container">
  <h2>Registrierung</h2>
  <div class="form-container">
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field>
          <mat-label>Passwort:</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Registrieren</button>
    </form>
  </div>
</div>
