<div class="login-container">
  <h2>Login</h2>
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field>
          <mat-label>Passwort:</mat-label>
          <input matInput [type]="passwordHidden ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix
                    (click)="togglePasswordVisibility()">{{ passwordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>

    <div *ngIf="isLoggedIn">
      <button mat-raised-button color="warn" (click)="logout()" class="ausloggen-button">Ausloggen</button>
    </div>

    <div *ngIf="!isLoggedIn">
      <mat-error class="not-logged-in-error-message">Du bist nicht eingeloggt. Bitte melde dich an.</mat-error>
    </div>
  </div>
</div>
