.login-container {
  width: 32%;
  margin: 0 auto 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px;
  background-color: #673AB7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
  color: black;
}

.login-successed {
  color: green;
  padding: 1rem;
  display: inline-block;
  background-color: beige;
  border-radius: 4px;
  margin: 10px;
}

.login-failed {
  color: red;
  padding: 1rem;
  display: inline-block;
  background-color: beige;
  border-radius: 4px;
  margin: 10px;
}
