.login-container {
  width: 32%;
  margin: 0 auto 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 10px;
}

.form-container mat-form-field {
  width: 100%;
}

.ausloggen-button {
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
}

button {
  padding: 10px;
  background-color: #673AB7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
  color: black;
}

p {
  margin-top: 20px;
  padding: 1rem;
  display: inline-block;
  background-color: #B90E0A;
  color: white;
  border-radius: 4px;
}
