.eintrag-titel, .eintrag-text {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  color: #333333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  text-align: left;
}

.redirect-to-home-button {
  margin: 10px;
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirect-to-home-button:hover {
  color: white;
  background-color: #42545C;
}

.redirect-to-home-button:active {
  background-color: black;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}